$base-color-black: #000000;
$base-color-white: #FFFFFF;
$base-color-blue: #357DF7;
$button-color-blue: #5B9AF8;
$button-text-color: #72FACA;
$background-color-light: #292C32;
$background-color-dark: #191B1E;
$warning-color-red: red;

$mq-mobile: 'screen and (max-width: 768px)';